.main-title {margin-bottom: 50px;color:#D9730D}
.main-introduce {width:70%;margin:0 auto}
.main-introduce p {width:50%;margin:0 auto;text-align: left}

.main-myPic {width: 130px;height: 150px;border-radius: 50%;margin:40px auto;background: url(/static/image/myPic.jpg) no-repeat 70% 10%;}

.project-header {margin-bottom: 20px; border-bottom: 2px solid #d9730d}
.project-title {text-align: left;color: #D9730D}
.project-link {margin-top:20px}

.project-body {margin-bottom: 100px}

.carousel-caption {width:87%;height: 100%;z-index:1;bottom:0;}
.card {width:80%;height: 100%;}
.card {background: #1A1A1D}

.project-content h2, .project-content h4, .project-content h3, .project-content h5, .project-content h6, .project-content a {text-align: left;word-break: break-all}
.project-content h2, .project-content h5 {margin-bottom: 20px;}
.project-content {width:100%;margin: 0 auto}
.project-content-section {padding-bottom:20px; margin-bottom: 30px;border-bottom: 1px solid #d9730d}

.text-area {margin:0 auto}
.text-area h3 {line-height: 50px}
.text-area {padding: 0 30px 0 30px}
.text-area-title {margin-bottom: 30px}

.duce-img {margin:0 auto;background: url(/static/image/image-duce.png) no-repeat 50% 50%;background-size:contain;width:700px;height:400px}
.araboza-img-1 {margin:0 auto;background: url(/static/image/image-araboza-1.png) no-repeat 10% 10%;background-size:contain;width:300px;height:500px}
.araboza-img-2 {margin:0 auto;background: url(/static/image/image-araboza-2.png) no-repeat 10% 10%;background-size:contain;width:300px;height:500px}
.seilens-labor-pic {margin:0 auto;background: url(/static/image/seilens-labor.PNG) no-repeat 10% 10%;background-size:contain;width:300px;height:500px}
.hoban-safe-pic {margin:0 auto;background: url(/static/image/hoban.jpg) no-repeat 10% 10%;background-size:contain;width:300px;height:500px}
/*.hoban-safe-pic2 {margin:0 auto;background: url(/static/image/hoban.jpg) no-repeat 10% 10%;background-size:contain;width:300px;height:500px}*/

.project-time-line::-webkit-scrollbar { display: none; }
.project-time-line {
  position:fixed;left:0;bottom:0;width:100%;z-index:999;;
  overflow-y:hidden;background-color: #1A1A1D;background-size: 50% 70%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.project-time-line-body::-webkit-scrollbar { display: none; }
.project-time-line-body {display:flex;margin: 0 auto;width:95%; overflow-x:scroll}
.project-time-line-item {z-index: 992;position:relative;bottom:22px;cursor:pointer;transform: translate(0, 70%);transition: .5s ease;}
.project-time-line-item span {font-weight: bold}
.project-time-line-item:hover {z-index:998;transform: translate(0, 45%)}
.project-time-line-item {margin: 0 10px}
.project-time-line-item {background: #D9730D;min-width: 80px; height:90px;border-radius: 10%}

.project-time-line-footer {z-index:997;height:20px;bottom:22px;width:95vw;margin:0 auto;}
.project-time-line-footer .time-line {height:2px;background: #D9730D;}

.left-right {display: flex}

.left-right {display: flex}

@media screen and (max-width: 976px) {
  .main-introduce {width:80%;}
  .main-introduce p {width:100%;}
}
