@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap');

/*.routerView{*/
/*  height: calc(100vh - 106px)*/
/*}*/

#header {background-color: #111;height:60px}
.header-title a {
  font-size: 2.5rem;
  text-decoration: none !important;
  cursor:default;
  color:#f1f1f1;
  margin-right: 40px;
}

.main {height: calc(100vh - 60px); background: #1A1A1D;padding: 20px 10px;overflow-x:hidden}

.btn-hamburger {display: inline-block;width: 40px;height:60px;padding:18px 0 0 10px;float:left}
.btn-hamburger span {display:block;background-color: #fff;padding:1px;}
.btn-hamburger .hamburger-bar:first-child {margin-bottom: 9px;}
.btn-hamburger .hamburger-bar:last-child {margin-top: 9px;}
.btn-hamburger:hover{cursor:pointer}
.btn-hamburger.hover .hamburger-bar:first-child {transform: rotate(45deg); transition: 0.5s;position:relative;top:11px}
.btn-hamburger.hover .hamburger-bar:nth-child(2) {display: none; transition: 0.5s}
.btn-hamburger.hover .hamburger-bar:last-child {transform: rotate(-45deg); transition: 0.5s}

.left-sidebar {height:100%;width:0;background-color:#111;position:fixed;top:60px;left:0;overflow-x: hidden;z-index:9995;transition: 0.5s;}
.left-sidebar a:hover { color: #f1f1f1; }
.left-sidebar a { padding: 8px; text-decoration: none; font-size: 25px; color: #818181; display: block; transition: 0.3s; }
.left-sidebar .router-link-active span{color: #1A73E8 !important;}
.left-sidebar .btn-toggle { position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px; }

.test-content {margin-top: 20px}

.k-pagination {display:flex;list-style-type:none;}
.k-pagination .page-item {color: #0077b6;border:1px solid #0077b6;width:25px;margin: 0 2px 0 2px;cursor:pointer;text-align: center}
.k-pagination .page-item:hover {background-color:#0077b6;color:white}
.k-pagination .btn-num.active {background-color:#0077b6;color:white}
.k-pagination .btn-first:before {content: '❮❮'}
.k-pagination .btn-prev:before {content: '❮'}
.k-pagination .btn-next:before {content: '❯'}
.k-pagination .btn-last:before {content: '❯❯'}
